<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="idn.Skycic.Inventory.Biz.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <idn.Skycic.Inventory.Biz.Properties.Settings>
            <setting name="HTC_NM_Biz_WSAccCenter_WS" serializeAs="String">
                <value>http://118.70.129.122:12608/idocNet.Test.idocNet.AccCenter.V10.Ws/WS.asmx</value>
            </setting>
            <setting name="idN_TVAN_Biz_WSHTC_WSHTC64" serializeAs="String">
                <value>http://11.22.0.1:11208/Test.DMS.HTC.Sales.WH.WS/WSHTC.asmx</value>
            </setting>
        </idn.Skycic.Inventory.Biz.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup><system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="KQuaGDichService">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport />
                </binding>
                <binding name="NhanHSoThueService">
                    <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'http://nhanhsothue.van.gdt.gov.vn/':    -->
                    <!--    <wsdl:binding name='NhanHSoThueService'>    -->
                    <!--        <ns1:SupportingTokens xmlns:ns1="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200512">..</ns1:SupportingTokens>    -->
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://daotaonhantokhai.gdt.gov.vn:80/ihtkk_van/KQuaGDichServicePort" binding="customBinding" bindingConfiguration="KQuaGDichService" contract="WSKQuaGDich.KQuaGDichService" name="KQuaGDichServicePort" />
            <endpoint address="http://daotaonhantokhai.gdt.gov.vn:80/ihtkk_van/NhanHSoThueServicePort" binding="customBinding" bindingConfiguration="NhanHSoThueService" contract="WSNhanHSoThue.NhanHSoThueService" name="NhanHSoThueServicePort" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
